node_modules/
.expo/
dist/
build/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.DS_Store
.env
.env.local
.env.production
.env.staging
npm-debug.*
yarn-debug.*
yarn-error.*
.idea
*.iml
.vscode/
android/
ios/
